:root {
  --box-shadow: 5px 5px 10px 10px rgb(18, 242, 242);
  --box-shadow1: 5px 5px 0px 0px rgb(18, 242, 242);
  --box-shadow2: 5px 5px 5px 5px rgb(18, 242, 242);
  --box-shadow3: 5px 1px 5px 1px rgb(18, 242, 242);
  --bg-colour: rgb(1, 8, 34);
}
body {
  background-color: rgb(1, 8, 34);
  color: rgb(18, 242, 242);
}
a {
  text-decoration: none;
  color: rgb(18, 242, 242);
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar .navitems {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav_bar .navitems:hover {
  border-bottom: 3px solid rgb(15, 179, 234);
}
/* Home Section */
.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .left {
  background-color: var(--bg-colour);
  width: 610px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgb(18, 242, 242);
  box-shadow: var(--box-shadow);
}
.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .right .img img {
  height: 250px;
  width: 250px;
  border: 5px solid rgb(15, 179, 234);
  border-radius: 100%;
  animation-name: image;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes image {
  0% {
    border-color: aqua;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px aqua;
  }
  25% {
    border-color: rgb(149, 167, 211);
    box-shadow: 10px 10px 100px 50px rgb(149, 167, 211);
  }
  50% {
    border-color: rgb(77, 156, 160);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(77, 156, 160);
  }
  75% {
    border-color: rgb(49, 195, 159);
    box-shadow: 10px 10px 100px 50px rgb(49, 195, 159);
  }
  100% {
    border-color: rgb(216, 224, 224);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(216, 224, 224);
  }
}
/* Experience section */
.ex{
  width: 900px;
}
.ex-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(34, 47, 93) ;
  margin: 20px;
  padding: 20px;
  width: 750px;
  border-radius: 10px;
  border: solid aqua;
  box-shadow: var(--box-shadow1);
}
/* Skills section */
.skills{
  width: 900px;
}
.skills .items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  
}
.skills .items .item{
  width: calc(33.33%);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aqua;
  box-shadow: var(--box-shadow2);

}
.skills .items .item img{
  width: 70px;
}
/* Contact  */
.contact-icon{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon .items{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid aqua;
}
.contact-icon .items:hover{
  background-color: var(--bg-colour);
  box-shadow: var(--box-shadow3);
}
.contact-icon .items .icons{
  font-size: 2rem;

}